html
{
font-size:50px;
}

body{
    background-color: black;
}
#zz{
    font-size:3rem;
    color:red;
    text-align: center;
}
#lorem{
    color:lime;
    font-size:2rem;
}
html
{
    font-size:1rem;
    background-color: black;
}
/*em type use to next parent attributies*/
/*rem: goes to root <html>*/